@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Client


<h3>Name: @Html.DisplayFor(model => model.Name)</h3>
<h3> Stylist: </h3>
  <h5>@Html.DisplayFor(model => model.Stylist)</h5></li>


<p>@Html.ActionLink("Add a new client.", "Add")</p>
<p>@Html.ActionLink("Back to Client List Page", "Index")</p>
<p>@Html.ActionLink("Back to Main Page", "Index", "Home")</p>