@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Client


<h3>Name: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{

  @Html.LabelFor(model => model.Stylist)
  <h4>Select </h4>@Html.DropDownList("StylistId")

  <input type="submit" value="Add Stylist" />
}

<p>@Html.ActionLink("Add a new client.", "Add")</p>
<p>@Html.ActionLink("Back to Client List Page", "Index")</p>
<p>@Html.ActionLink("Back to Main Page", "Index", "Home")</p>